body {
  margin: 0;
  padding: 0;
  cursor: none;
  background-color: #fff;
}
html {
  margin: 0;
  padding: 0;
}
.cursor {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
  transition-property: background, transform, opacity;
  transform-origin: 100% 100%;
  background: #fff;
  mix-blend-mode: difference;
}

#tms_logo {
  position: fixed;
  left: 16px;
  top: 16px;
  z-index: 1000;
  mix-blend-mode: difference;
}
#tms_gnb {
  position: fixed;
  width: calc(100vw / 2);
  z-index: 1000;
  right: 0;
  top: -100%;
  transition: 1s ease;
}
#tms_gnb {
  right: 0;
  top: 0;
}
#tms_gnb ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 1em;
  align-items: flex-start;
}
#tms_gnb li {
  color: #fff;
  width: calc(100vw / 6);
  box-sizing: border-box;
  position: relative;
}
#tms_gnb ul > li:nth-child(1) {
  height: 40px;
}
#tms_gnb ul > li:nth-child(2) {
  height: 72px;
}
#tms_gnb ul > li:nth-child(3) {
  height: 108px;
}
#tms_gnb li > div {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  bottom: 100%;
  left: 0;
  bottom: 100%;
  box-sizing: border-box;
  background: #000;
  padding-left: 8px;
  padding-bottom: 8px;
  transition: bottom 1s ease;
}
#tms_gnb.active li > div {
  left: 0;
  bottom: 0;
}
#tms_gnb a {
  color: inherit;
  text-decoration: none;
}

#tms_main {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.tms_article {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
  text-align: center;
}
.tms_article h2 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 200;
}
.tms_article p {
  font-size: 24px;
  margin: 0;
  padding: 0;
}
.tms_canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.tms_main_about {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  mix-blend-mode: difference;
  position: absolute;
  right: 16px;
  bottom: 32px;
  width: calc(100vh / 12 * 3);
  word-break: keep-all;
}
.tms_main_about a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

#tms_menubar {
  width: calc(100vw / 6);
  background-color: #000;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 16px;
  height: 40px;
  top: 0;
  right: 0;
  position: absolute;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  color: #fff;
  font-size: 16px;
  justify-content: space-between;
  align-items: flex-end;
}
#tms_menubar .menu_text {
  display: flex;
  align-items: center;
}
#tms_menubar .menu_btn img {
  mix-blend-mode: difference;
}
.tms_canvas {
  background: #000;
}
.tms_canvas canvas {
  transition: opacity 1s ease;
}

#tms_work {
  width: 100vw;
  min-height: 100vh;
  position: relative;
}
#tms_work h2 {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 16px;
  line-height: 1em;
  font-size: 25vw;
}
